.formulaire_campagnodon {
  .editer_montant_adhesion {
    .erreur_message {
      margin-bottom: 10px;
    }

    .campagnodon_montant_adhesion {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 5px;

      label {
        display: inline;
        white-space: nowrap;
      }

      input[type=radio] + span {
        // Le style du libellé
        padding: 0.7em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        vertical-align: middle;
      }

      input[type=radio]:hover + span {
        background-color: #DA1E48;
        color: white;
        border:#DA1E48 1px solid;
      }

      input[type=radio]:checked + span {
        background: #DA1E48;
        border:#DA1E48 1px solid;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 0 3px rgba(0,0,0,.5);
        color: white;
      }
    }
  }

  label[for=champ_adhesion_avec_don] {
    font-weight: bold;
  }

  .editer_montant, .editer_montant_recurrent {
    .erreur_message {
      margin-bottom: 10px;
    }

    .campagnodon_montant {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .campagnodon_montant_ligne {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
      align-items: center;

      input[type=radio] {
        // On ne met pas les boutons invisibles pour permettre une navigation au clavier
        opacity: 0;
        position: fixed;
        width: 0;
      }

      input[type=radio] + span {
        // Le style du libellé
        padding: 0.7em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        border:#7f7f7f 1px solid;
      }

      input[type=radio]:hover + span {
        background-color: #DA1E48;
        color: white;
        border:#DA1E48 1px solid;
      }

      input[type=radio]:checked + span {
        background: #DA1E48;
        border:#DA1E48 1px solid;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 0 3px rgba(0,0,0,.5);
        color: white;
      }

      input[name=montant_libre] {
        font-size: 1.2em;
        font-weight: bold;
        width: 70px;
      }

      label {
        white-space: nowrap;
      }
    }
  }

  .editer_don_recurrent {
    // Le bouton de choix entre dons récurrents ou non.
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    input[type=radio] {
      // On ne met pas les boutons invisibles pour permettre une navigation au clavier
      opacity: 0;
      position: fixed;
      width: 0;
    }

    input[type=radio] + span {
      // Le style du libellé
      padding: 0.7em;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
      border:#7f7f7f 1px solid;
    }

    input[type=radio]:hover + span {
      background-color: #DA1E48;
      color: white;
      border:#DA1E48 1px solid;
    }

    input[type=radio]:checked + span {
      background: #DA1E48;
      border:#DA1E48 1px solid;
      font-size: 1.2em;
      font-weight: bold;
      text-shadow: 0 0 3px rgba(0,0,0,.5);
      color: white;
    }

    label {
      white-space: nowrap;
    }
  }

  .obligatoire {
    label:after {
      content: ' *';
    }

    .campagnodon_montant_ligne,
    .campagnodon_montant_adhesion,
    &.editer_don_recurrent {
      label:after {
        content: ''
      }
    }
  }

  input[type=date] {
    // Fix: il semblerait que bootstrap (ou spip?) définisse width=80% pour input[type=text], mais pas type=date.
    width: 80%;
  }
}
